@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #e4ddd7;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.chats-container::-webkit-scrollbar {
  width: 3.5px;
}

/* Track */
.chats-container::-webkit-scrollbar-track, .main-chats-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.chats-container::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

/* Handle on hover */
.chats-container::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}
.main-chats-container::-webkit-scrollbar {
  width: 8.5px;
}
/* Handle */
.main-chats-container::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
}
.main-chats-container::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
.main-container{
  display: grid;
  grid-template-columns: 70px 360px 1fr;
}
.outer-chat-container{
  grid-template-rows: 40px 1fr 40px;
}
.other-users-container{
  display: grid;
  grid-template-rows: 190px 140px 1fr;
}
.online-dots{
  width: 1px;
  height: 1px;
}
.users-online::before{
  content: '';
  position: absolute;
  width: 90%;
  top: 0;
  height: 1px;
  background-color:#f0ece8;
}
.users-online::after{
  content: '';
  position: absolute;
  width: 90%;
  bottom: 0;
  height: 2px;
  background-color:#f0ece8;
}
.chat-preview::before{
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 2px solid #f0ece8;
}