@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root {
    --color-navbar-bg: #268D61;
    --color-text-primary: #1f2937;
    --color-text-secondary: #9ca3af;
    --header-text: #1f2937; 
    --color-text-chat-secondary: #CDC3BA;
    --color-chat-primary: #CDC3BA;
    --color-chat-secondary: #110F0F;
    --color-body-bg-primary: #e4ddd7;
    --color-body-bg-secondary: #ffffff;
    --color-chat-container: #FFFFFF;
    --color-border-primary: #f0ece8;
    --color-other-user-container: #FFFFFF;
    --color-input-bg: #f3f4f6;
    --color-login-input-bg: transparent;
    --color-login-input-border: black;
    --color-mode-switcher-bg: #f3f4f6;
    --color-chat-preview-hover: #f3f4f6;
    --color-signup-submit-button: #08E7A0;
    --color-signup-platforms-border: black;
    --color-signup-platforms-border-reverse: black;
  }
}
.theme-light {
  --color-text-primary: #1f2937;
  --color-text-secondary: #9ca3af;
  --header-text: #1f2937; 
  --color-chat-primary: #CDC3BA;
  --color-text-chat-secondary: #CDC3BA;
  --color-chat-secondary: #110F0F;
  --color-body-bg-primary: #e4ddd7;
  --color-body-bg-secondary: #1A1A1A;
  --color-chat-container: #FFFFFF;
  --color-border-primary: #f0ece8;
  --color-other-user-container: #FFFFFF;
  --color-input-bg: #f3f4f6;
  --color-login-input-bg: transparent;
  --color-login-input-border: black;
  --color-mode-switcher-bg: #f3f4f6;
  --color-chat-preview-hover: #f3f4f6;
  --color-signup-submit-button: #08E7A0;
  --color-signup-platforms-border:  linear-gradient(45deg, var(--color-other-user-container), var(--color-other-user-container)) padding-box,
  linear-gradient(45deg, black, black) border-box;;
  --color-signup-platforms-border-reverse: linear-gradient(45deg, var(--color-other-user-container), var(--color-other-user-container)) padding-box,
  linear-gradient(45deg, black, black) border-box; 
  
}
.theme-dark {
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #737373;
  --header-text: #a3a3a3; 
  --color-chat-primary: #268D61;
  --color-chat-secondary: #565A51;
  --color-text-chat-secondary: #FFFFFF;
  --color-body-bg-primary: #e4ddd7;
  --color-body-bg-secondary: #ffffff;
  --color-chat-container: #1F1F1F;
  --color-other-user-container: #1C1C1C;
  --color-border-primary: #4b5563;
  --color-input-bg: #262626;
  --color-login-input-bg: #262626;
  --color-login-input-border: transparent;
  --color-mode-switcher-bg: #262626;
  --color-chat-preview-hover: rgba(64,64,64, 0.3);
  --color-signup-submit-button: linear-gradient(45deg,#9C3B91, #DB3151, #F84233) border-box;
  --color-signup-platforms-border:  linear-gradient(45deg, var(--color-other-user-container), var(--color-other-user-container)) padding-box,
  linear-gradient(45deg, rgba(128, 28, 128, 0.5), rgba(223, 167, 65, 0.5)) border-box;;
  --color-signup-platforms-border-reverse: linear-gradient(45deg, var(--color-other-user-container), var(--color-other-user-container)) padding-box,
  linear-gradient(45deg, rgba(223, 167, 65, 0.5), rgba(128, 28, 128, 0.5)) border-box; 
}
  
  body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #e4ddd7;
    height: 100vh;
    width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.chats-container::-webkit-scrollbar {
  width: 3.5px;
}

/* Track */
.chats-container::-webkit-scrollbar-track, .main-chats-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.chats-container::-webkit-scrollbar-thumb {
  background: rgb(185, 185, 185);
}

/* Handle on hover */
.chats-container::-webkit-scrollbar-thumb:hover {
  background: rgb(182, 182, 182);
}
.main-chats-container::-webkit-scrollbar {
  width: 8.5px;
}
/* Handle */
.main-chats-container::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
}
.main-chats-container::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
.main-container{
  display: grid;
  grid-template-columns: 70px 360px 1fr;
}
.outer-chat-container{
  grid-template-rows: 40px 1fr 40px;
}
.other-users-container{
  grid-template-rows: 190px 140px 1fr;
}
@media only screen and (max-width: 1024px) {
  .main-container{
    grid-template-columns: 70px 1fr;
  }
}
@media only screen and (max-width: 640px) {
  .main-container{
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 400px) {
  .chats{
    max-width: 270px;
  }
}
.online-dots{
  width: 8px;
  height: 8px;
}
.users-online::before{
  content: '';
  position: absolute;
  width: 90%;
  top: 0;
  height: 1px;
  background-color:var(--color-border-primary);
}
.users-online::after{
  content: '';
  position: absolute;
  width: 90%;
  bottom: 0;
  height: 1px;
  background-color:var(--color-border-primary)
}
.chat-preview::before{
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1.6px solid var(--color-border-primary);
}
.chat-preview:hover{
  background-color: var(--color-chat-preview-hover);
}
.sign-up-platform-button{
  background: var(--color-signup-platforms-border);
  border-color: transparent;
  border-radius: 0.3rem;
}
.sign-up-facebook{
  background: var(--color-signup-platforms-border-reverse);
}
.signup-submit-button{
  background: var(--color-signup-submit-button)
}
.confirmation-popup{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}